.dropdown-menu li {
          border-bottom: 1px solid #ccc;
          padding: 10px 0; 
      }
  
      .dropdown-menu li:last-child {
          border-bottom: none; 
      }
      .megamenu-content li {
          border-right: 1px solid #ccc; /* Add a vertical line (border) on the right side of each <li> */
          padding: 10px; /* Add some padding for spacing */
          display: inline-block; /* Display the <li> elements horizontally */
          vertical-align: top; /* Align the <li> elements at the top */
      }
  
      .megamenu-content li:last-child {
          border-right: none; /* Remove the border from the last <li> */
      }