#services {
          padding-top: 5em;
        }

        #services .flex-box {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 10px;
          /* Increase the gap between service boxes */
        }

        #services .col-sm-3 {
          flex: 0 0 calc(25% - 20px);
          /* 25% width for each box with 20px gap */
          max-width: calc(25% - 20px);
          margin-bottom: 1em;
        }

        #services .media {
          position: relative;
          padding: 1em 1em;
          background-color: #fff;
          border: 2px solid #eee;
          border-radius: 7px;
          box-shadow: 0px 0px 16px #7c8e9b17;
          cursor: pointer;
          overflow: visible;
          transition: all .3s ease;
          transform: scale(1);
        }

        #services .media:hover {
          box-shadow: 0px 0px 16px #7c8e9b38;
          transform: scale(1.05);
        }

        #services .media .media-top img {
          height: 150px !important;
        }

        #services .media .media-body p {
          line-height: 23px;
          margin: 0;
        }

        #services .media-body h3 {
          font-size: 1.3em;
          font-weight: bold;
          margin: 10px 0;
        }