@charset "UTF-8";

.calimarkshapes {
  margin: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  pointer-events: none;
}

.random-shape:after {
  font-family: FontAwesome;
  content: "\f005";
}

@keyframes shape-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(-266deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(226deg);
  }
}

.calimark-shape-1 {
  animation: shape-1 28s linear infinite;
}

.calimark-shape-1 .random-shape:after {
  margin: 4rem;
  color: #3ff01366;
  font-size: 1rem;
  content: "\f185";
}

@keyframes shape-2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(359deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(719deg);
  }
}

.calimark-shape-2 {
  animation: shape-2 45s linear infinite;
}
.calimark-shape-2 .random-shape:after {
  margin: 2rem;
  color: #8271e6;
  font-size: 1rem;
}

@keyframes shape-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(166deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(626deg);
  }
}

.calimark-shape-3 {
  animation: shape-3 28s linear infinite;
}
.calimark-shape-3 .random-shape:after {
  margin: 4rem;
  color: #10edf566;
  font-size: 0.8rem;
  content: "\f10";
}

@keyframes shape-44 {
  0% {
    transform: translate3d(0, 0, 0) rotate(166deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(626deg);
  }
}

.calimark-shape-44 {
  animation: shape-44 28s linear infinite; /* Cube rotation */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(calc(100vw / 4)); /* Additional translation for moving effect */
}

/* Cube styles... */

@keyframes shape-4 {
  0% {
    transform: translate3d(0, 0, 0) rotate(302deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(662deg);
  }
}

.calimark-shape-4 {
  animation: shape-4 49s linear infinite;
}

@keyframes shape-5 {
  0% {
    transform: translate3d(0, 0, 0) rotate(66deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(626deg);
  }
}
.calimark-shape-5 {
  animation: shape-5 48s linear infinite;
}
.calimark-shape-5 .random-shape:after {
  margin: 5rem;
  color: #e60e2066;
  font-size: 0.8rem;
  content: "";
}

@keyframes shape-6 {
  0% {
    transform: translate3d(0, 0, 0) rotate(-66deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(-226deg);
  }
}

.calimark-shape-6 {
  animation: shape-6 28s linear infinite;
}
.calimark-shape-6 .random-shape:after {
  margin: 4rem;
  color: #e44e0966;
  font-size: 1rem;
  content: "";
}

@keyframes shape-7 {
  0% {
    transform: translate3d(0, 0, 0) rotate(27deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(597deg);
  }
}

.calimark-shape-7 {
  animation: shape-7 46s linear infinite;
}
.calimark-shape-7 .random-shape:after {
  margin: 5rem;
  color: #0be216e0;
  font-size: 1rem;
  content: "";
}

@keyframes shape-8 {
  0% {
    transform: translate3d(0, 0, 0) rotate(320deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(680deg);
  }
}
.calimark-shape-8 {
  animation: shape-8 41s linear infinite;
}
.calimark-shape-8 .random-shape:after {
  margin: 0.9rem;
  color: #eb660e66;
  font-size: 1rem;
  content: "";
}

@keyframes shape-9 {
  0% {
    transform: translate3d(0, 0, 0) rotate(-56deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(416deg);
  }
}
.calimark-shape-9 {
  animation: shape-9 47s linear infinite;
}
.calimark-shape-9 .random-shape:after {
  margin: 5rem;
  color: #c2b7fe;
  font-size: 1rem;
  content: "";
}

@keyframes shape-10 {
  0% {
    transform: translate3d(0, 0, 0) rotate(359deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(719deg);
  }
}
.calimark-shape-10 {
  animation: shape-10 41s linear infinite;
}

@keyframes shape-100 {
  0% {
    transform: translate3d(0, 0, 0) rotate(359deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(719deg);
  }
}
.calimark-shape-100 {
  animation: shape-10 41s linear infinite;
}
.calimark-shape-100 .random-shape:after {
  margin: 5rem;
  
  font-size: 1.8rem;
  
}


@keyframes shape-11 {
  0% {
    transform: translate3d(0, 0, 0) rotate(-131deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(491deg);
  }
}
.calimark-shape-11 {
  animation: shape-11 48s linear infinite;
}
.calimark-shape-11 .random-shape:after {
  margin: 3rem;
  color: #ffd700;
  font-size: 0.6rem;
  content: "\f058";
}

@keyframes shape-12 {
  0% {
    transform: translate(0vw, -30vh);
  }
  20% {
    transform: translate(20vw, 70vh);
  }

  40% {
    transform: translate(40vw, -30vh);
  }

  60% {
    transform: translate(60vw, 70vh);
  }

  80% {
    transform: translate(80vw, -30vh);
  }

  100% {
    transform: translate(100vw, 70vh);
  }
}
.calimark-shape-12 {
  animation: shape-12 45s alternate infinite;
}
.calimark-shape-12 .random-shape:after {
  position: absolute;
  top: 0;
  left: 0;
  color: #1f104b55;
  font-size: 1rem;
  content: "\f07a";
}

@keyframes shape-13 {
  0% {
    transform: translate3d(0, 0, 0) rotate(141deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(501deg);
  }
}
.calimark-shape-13 {
  animation: shape-13 47s linear infinite;
}
.calimark-shape-13 .random-shape:after {
  margin: 3rem;
  color: #a2f2fbe0;
  font-size: 0.6rem;
  content: "\f164";
}

@keyframes shape-14 {
  0% {
    transform: translate3d(0, 0, 0) rotate(60deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(420deg);
  }
}
.calimark-shape-14 {
  animation: shape-14 43s linear infinite;
}
.calimark-shape-14 .random-shape:after {
  margin: 10rem;
  color: #df560766;
  font-size: 2rem;
  content: "\f00d";
}

@keyframes shape-15 {
  0% {
    transform: translate3d(0, 0, 0) rotate(171deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(531deg);
  }
}
.calimark-shape-15 {
  animation: shape-15 48s linear infinite;
}
.calimark-shape-15 .random-shape:after {
  margin: 6rem;
  color: #a2f2fbe0;
  font-size: 1.2rem;
  content: "";
}

@keyframes shape-16 {
  0% {
    transform: translate3d(0, 0, 0) rotate(163deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(523deg);
  }
}
.calimark-shape-16 {
  animation: shape-16 46s linear infinite;
}
.calimark-shape-16 .random-shape:after {
  margin: 1rem;
  color: #ffd700;
  font-size: 1rem;
  content: "\f013";
}

@keyframes shape-17 {
  0% {
    transform: translate3d(0, 0, 0) rotate(71deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(-431deg);
  }
}
.calimark-shape-17 {
  animation: shape-17 38s linear infinite;
}
.calimark-shape-17 .random-shape:after {
  margin: 5rem;
  color: #ffd700;
  font-size: 1rem;
  content: "";
}

@keyframes shape-18 {
  0% {
    transform: translate3d(0, 0, 0) rotate(304deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(664deg);
  }
}
.calimark-shape-18 {
  animation: shape-18 48s linear infinite;
}
.calimark-shape-18 .random-shape:after {
  margin: 1rem;
  color: #38f808;
  font-size: 0.2rem;
  content: "";
}

@keyframes shape-19 {
  0% {
    transform: translate3d(0, 0, 0) rotate(49deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(409deg);
  }
}
.calimark-shape-19 {
  animation: shape-19 50s linear infinite;
}
.calimark-shape-19 .random-shape:after {
  margin: 3rem;
  color: #c2b7fe;
  font-size: 0.6rem;
  content: "";
}

@keyframes shape-20 {
  0% {
    transform: translate3d(0, 0, 0) rotate(223deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(583deg);
  }
}
.calimark-shape-20 {
  animation: shape-20 41s linear infinite;
}
.calimark-shape-20 .random-shape:after {
  margin: 3rem;
  color: #ffd700;
  font-size: 0.6rem;
  content: "";
}
.calimark-shape-21 {
  animation: shape-21 41s linear infinite;
}
.calimark-shape-21 .random-shape:after {
  margin: 3rem;
  color: #51ff00;
  font-size: 0.6rem;
  content: "";
}

@keyframes shape-21 {
  50% {
    transform: translate3d(0, 0, 0) rotate(223deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(583deg);
  }
}

.calimark-shape-22 {
  animation: shape-21 41s linear infinite;
}
.calimark-shape-22 .random-shape:after {
  margin: 15rem;
  color: #51ff00;
  font-size: 0.6rem;
  content: "\f057";
}



@keyframes shape-22 {
  50% {
    transform: translate3d(0, 0, 0) rotate(23deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(583deg);
  }
}

.calimark-shape-24 {
  animation: shape-24 41s linear infinite;
}
.calimark-shape-24 .random-shape:after {
  margin: 15rem;
  color: #51ff00;
  font-size: 0.6rem;
  content: "\f057";
}
@keyframes shape-24 {
  0% {
    transform: translate3d(0, 0, 0) rotate(171deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(531deg);
  }
}
